/* Modify Ant Design CSS - Start */
.ant-layout-content {
  background-color: white;
  padding: 40px 20px;
}

.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
  background-color: #3500a0;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #2f008d;
  font-weight: bold;
}

.ant-divider {
  border: 1px solid #e0e0e0;
}

.ant-card-body {
  padding: 12px;
}

.ant-skeleton-element {
  width: 100% !important;
}
/* Modify Ant Design CSS - End */

/* Modify Headings - Start */
h1 {
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  font-size: 28px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}
/* Modify Headings - End */

.img-full {
  width: 100%;
}

/* Custom Class - Start */
.app-logo {
  margin: 0;
  color: white;
  margin-right: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.ellipsis-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.grayed-caption {
  color: #757575;
}

.header-divider {
  margin: 0 0 16px !important;
}

.mobile-view {
  display: none !important;
}
/* Custom Class - End */

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .ant-layout-content {
    padding: 20px 24px;
  }
}

@media screen and (max-width: 480px) {
  .ant-layout-content {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .input-search {
    display: none !important;
  }

  .mobile-view {
    display: block !important;
  }

  .mobile-input-search {
    position: absolute;
    top: 64px;
    left: 0;
    text-align: center;
    background-color: #001529;
    width: 100%;
    z-index: 9;
  }
}
